$red:#ff6347;
$blue:#191970;
$black:#000;
$white:#fff;
$grey:#202020;

@mixin menuFlex {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-align:center;
-webkit-align-items:center;
-ms-flex-align:center;
align-items:center;

}

@mixin flexBetween {
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
}

@mixin flexAround {
  -webkit-justify-content:space-around;
  -ms-flex-pack:distribute;
  justify-content:space-around;
}

@mixin circleMixin($color:red,$dir:150px ){
  width:$dir;
  height:$dir;
  background:$color;
  border-radius: 50%;
}
